.footer {
  background: #0d0d0d;
  color: #ccc;
  padding: 60px 20px 20px;
}

/* Layout */
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

/* Sections */
.footer-section {
  flex: 1;
  min-width: 200px;
}

.section2 p {
  padding-top: 18px;
}

.footer-section img {
  height: 106px;
}

/* Links */
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section a {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}

.footer-section a:hover {
  color: var(--color-accent);
}

/* Bottom */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  border-top: 1px solid #222;
  padding-top: 20px;
  font-size: 14px;
}

.footer-icon {
  gap: 20px;
  padding-top: 27px;
}

.icon-btn {
  color: var(--color-text-primary);
  border: solid 2px var(--color-text-primary);
  border-radius: 50%;
}

.icon-btn:hover {
  color: var(--color-accent2);
  border: solid 2px var(--color-accent);
  border-radius: 50%;
}